.pomodoro {
    
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*timers*/

.timer {
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 400%;
    font-weight: bold;
    padding-bottom: 10%;
}

p {
    margin: 0;
    padding: 0;
}



/*buttons*/

.btn {
    align-self: center;
    justify-self: center;
    background-color: #228752;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 13px;
    padding: 18px 10px;
    font-size: 130%;
    width: 180px;
    margin: 10px;
}

.btn:hover {
    background-color: #154c2f;
    cursor: pointer;
    transition: background-color 0.2s;
}


/* positioning */

#work-timer {
    grid-area: 2 / 2 / 2 / 2;
}

#break-timer {
    grid-area: 2 / 4 / 2 / 4;
}


/* . */

#start {
    grid-area: 3 / 2 / 3 / 2;
}

#reset {
    grid-area: 3 / 3 / 3 / 3;
}

#stop {
    grid-area: 3 / 4 / 3 / 4;
}
