  .watchbutton {
    border: none;
    border-radius: 25px;
    padding: 18px 10px;
    font-size: 130%;
    width: 180px;
    margin: 10px;
  }
  
  .watchbutton:hover {
   background-color: darkgreen;
    cursor: pointer;
    
  }
  
  
  .stopwatch {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 130%;
    list-style-type: none;
    text-allign: center;
  }
  
  #time {
    font-size: 200%;
  }