@import url(tasklist.css);
@import url(stopwatch.css);
@import url(dictionary.css);
@import url(pomodoro.css);
@import url(kanban.css);


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


.main {
  padding: 7%;
}

h1, h2, p, li {
  font-family: 'Open Sans', sans-serif;
}

/* Nav Bar */
.logo-image {
  width: 60%;
  display: block;
  margin: 0 auto;
}


.container {
  height: 100%;
}

.nav ul {
  font-weight: 300;
  font-size: 1.5vmax;
  list-style-type: none;
  width: 80%;
  height: 100%;
}

.nav li a {
  display: block;
  color: #FFFFFF;
  padding: 7% 5%;
  text-decoration: none;
  position: relative;
}

.nav {
  background-color: #228752;
  height: 100%;
  position: sticky;
}

li a:hover {
  background-color: #103c1633;
  color: #ffff;
  border-radius: 20px;
  transition: background-color 0.2s;
}