@import url(tasklist.css);
@import url(stopwatch.css);
@import url(dictionary.css);
@import url(pomodoro.css);
@import url(kanban.css);
/* importing all my css stylesheets */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* css for all my main Div Setup */
.main {
  padding: 7%;
}

h1, h2, p, li {
  font-family: 'Open Sans', sans-serif;
}

/* Nav Bar */
.logo-image {
  width: 60%;
  display: block;
  margin: 0 auto;
}


.container {
  height: 100%;
}

.nav ul {
  font-weight: 300;
  font-size: 20px;
  list-style-type: none;
  width: 80%;
  height: 100%;
}

.nav li a {
  display: block;
  color: #FFFFFF;
  padding: 7% 5%;
  text-decoration: none;
  position: relative;
}

p {
  display: inline;
}

.nav {
  background-color: #228752;
  height: 100%;
  position: sticky;
}
/* List Hover | animation */
li a:hover {
  background-color: #103c1633;
  color: #ffff;
  border-radius: 20px;
  transition: background-color 0.2s;
}


/* Responsive side bar */
@media only screen and (max-width: 600px) {
  .navtext {
      display: none;
  }

  .nav ul {
    font-size: 35px;
  }
}